/* ---------------------------------------------------------------------------------------------------- */
/* Reset Section */
/* ---------------------------------------------------------------------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with by Inherit the fonts */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

:root {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
:root::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
} // ------------------------------------------------------------------------------
// Star Background Function
// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
.backgroundContainerStars {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
// -----------------------------------------------------------------------------------------
$maincolor: hsl(0, 0%, 85%);
$maincolorDark: hsl(0, 0%, 60%);
$secondcolor: hsl(192, 95%, 71%);
$farmgrey: hsla(0, 0%, 0%, 0.7);
//$tableBackgroundColor: hsla(230, 35%, 7%, 0.6);
$mainBackgroundColor: hsla(230, 25%, 5%, 0.2);
$secondBackgroundColor: hsla(230, 25%, 5%, 0.4);
$statsBackgroundColor: hsla(230, 25%, 5%, 0.1);

@font-face {
  font-family: Castle-Queen;
  src: url(/fonts/Castle-Queen.ttf);
}
.font {
  font-family: Castle-Queen;
  font-weight: normal;
}
.color-light {
  color: $secondcolor;
}
input {
  &:focus {
    outline: none;
    box-shadow: 0px 0px 5px $secondcolor;
    border: 1px solid $secondcolor;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  color: $maincolor;
  //  background-color: #111827;
}

/* footer */
footer {
  flex-shrink: 0;
  text-align: center;
  margin-top: 2rem;
}
footer p {
  margin: 0;
  padding: 0;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $mainBackgroundColor;
  font-weight: bold;

  #game-name {
    margin: 0;
    font-size: 2rem;
    color: #b13c51;
  }
}
#navigation ul {
  display: flex;
  justify-content: space-around;
  list-style: none;

  a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 1rem;
    color: $maincolor;
    transition: all 0.3s;

    &:hover {
      color: $secondcolor;
    }
  }
}

/* Player stats */
#playerStats {
  background-color: $statsBackgroundColor;
  padding: 0.5rem 0;

  ul {
    max-width: 78%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  .reiter {
    padding: 2px 0px 2px 2px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
  }
  .value {
    color: $secondcolor;
    font-weight: 400;
  }
}

/* Error Message Area */
.statusParent {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 24px;
}
.error {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 75%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.35s linear, opacity 0.35s linear;
}

.alert {
  background-color: darkred;
}
.succes {
  background-color: green;
}

/* general classes */
.mainSection {
  margin-top: 3rem;
  flex: 1 0 auto;
}
.container {
  width: 77%;
  margin: 0 auto;
}
.tableContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainTableDiv {
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 2rem;
  color: $maincolor;
  background-color: $mainBackgroundColor;

  h3 {
    text-align: center;
    border-bottom: 1px solid $maincolor;
    margin-bottom: 1rem;
  }
}
.maintable {
  margin: 0;
  padding: 1rem;

  th {
    letter-spacing: 1px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: lighter;
  }
  tr > td {
    font-size: 1.15rem;
    padding: 0.2rem;
  }
}

.stationTableDiv {
  border-radius: 2rem;
}

.clickableValue {
  cursor: pointer;
  color: $secondcolor;
}

/* Home page */
.homeOverview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 3rem;
  border-radius: 2rem;
  background-color: $mainBackgroundColor;

  div {
    background-color: $secondBackgroundColor;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 10px 20px -15px hsla(230, 25%, 5%, 0.2);
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }

  table {
    border-collapse: collapse;
    pointer-events: none;
  }
  th {
    text-align: left;
  }

  tr > td {
    min-width: 14ch;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $maincolor;
    text-decoration: none;
  }
}

/* Buttons */
.tradeButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.tradeButton {
  width: 6rem;
  height: 3rem;
  line-height: 1;
  border: 3px solid $maincolor;
  background: hsla(0, 0%, 0%, 0.01);
  color: $maincolor;
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
  outline: none;
  text-align: center;

  &:hover {
    border-color: $secondcolor;
    background-color: hsla(192, 95%, 71%, 0.1);
    color: $secondcolor;
  }

  &:where(:first-child) {
    margin-right: 2.9rem;
  }
}

.submitButton {
  width: 8rem;
  height: 3rem;
  line-height: 1;
  border: 3px solid $maincolor;
  background: hsla(0, 0%, 0%, 0.01);
  color: $maincolor;
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
  outline: none;
  text-align: center;

  &:hover {
    border-color: $secondcolor;
    background-color: hsla(192, 95%, 71%, 0.1);
    color: $secondcolor;
  }
}

.upgradeButton {
  width: fit-content;
  border: none;
  background: none;
  color: $maincolor;
  cursor: pointer;
  transition: all 0.35s;
  text-align: center;

  &:hover {
    color: $secondcolor;
  }
}

.rectangleButton {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0;
  padding: 0.5em 2em;
  color: $maincolor;
  cursor: pointer;
  outline: none;

  &:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
}

.create {
  line-height: 1.2;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid #d64a25;
  background: #070729d5;
  color: #d64a25;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
  outline: none;
  float: right;
  text-align: center;

  &:hover {
    background: #d64a25;
    color: white;
  }
}

/* Hanger / Unit Area */
.hangarTable {
  tr > td {
    min-width: 14ch;
  }

  tr > :where(:nth-child(5)),
  :where(:nth-child(6)) {
    min-width: 10ch !important;
  }

  input {
    width: 55px;
    height: 1.7rem;
    font-weight: bold;
    font-size: 1rem;
  }
  .rekrutierungsKostenText {
    font-size: 1.4rem;
  }
  tfoot > tr > td {
    padding-top: 1rem;
  }
}
#form-unit {
  margin: 0;
  padding: 0;
}

/* Station Area */
.stationTable {
  tr > td {
    min-width: 12ch;
  }

  tr > :where(:nth-child(4)),
  :where(:nth-child(5)) {
    min-width: fit-content !important;
  }
}

/* Trade Area */
#markt {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
#form-markt {
  margin: 0;
  padding: 0;
}

.marktTableDiv {
  .marktKostenText {
    font-size: 1.4rem;
  }
  .marktHeader {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}

.marktTable {
  input {
    width: 60px;
    height: 1.7rem;
    font-weight: bold;
    font-size: 1rem;
    &::placeholder {
      font-size: 0.7rem !important;
      color: hsl(212, 33%, 23%);
    }
  }

  tfoot > tr > td {
    padding-top: 1rem;
  }
}

.tradeTable {
  tr > td {
    min-width: 14ch;
  }

  tr > :where(:nth-child(4)) {
    position: relative;
  }
}

.tradeInfoText {
  font-size: 1rem;
  visibility: hidden;
  width: max-content;
  background-color: $mainBackgroundColor;
  color: $maincolor;
  text-align: left;
  padding: 0.7rem;
  margin-left: 13px;
  position: absolute;
  z-index: 1;
  bottom: -70%;
  left: 100%;
  opacity: 0;
  transition: opacity 0.35s;
}

.tradeInfoBlink {
  color: darkred;
  animation: blink-animation 2.5s linear infinite;
}
@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}
/* Farm Area */
.container-farm {
  width: 77%;
  margin: 0 auto;
  overflow: hidden;
}
.farmTable {
  display: grid;
  grid-template-columns: 65% 1fr;
  gap: 0 4rem;
}

.asteroidTable {
  margin: 0;
  width: 100%;
  text-align: center;
  border-spacing: 0 8px;

  // Set border-radius on the top-left and bottom-left of the first table data on the table row
  td:first-child,
  th:first-child {
    border-radius: 30px 0 0 30px;
  }

  // Set border-radius on the top-right and bottom-right of the last table data on the table row
  td:last-child,
  th:last-child {
    border-radius: 0 30px 30px 0;
  }

  tr {
    font-size: 1.15rem;
  }

  td {
    padding: 0.2rem;
  }

  td:nth-child(even) {
    text-align: left;
  }
}
.rohMain {
  color: $secondcolor;
}
.roh {
  color: $maincolor;
}
.notElected {
  background-color: $mainBackgroundColor;
  color: $farmgrey;

  .roh,
  .rohMain {
    color: $farmgrey;
  }
}
.closed {
  color: #000;
  background-color: #27272a;
  color: $farmgrey;
  opacity: 25%;
  cursor: default;

  .roh,
  .rohMain {
    color: $farmgrey;
  }
}
.asteroid {
  color: $maincolorDark;
  background-color: $secondBackgroundColor;
  cursor: pointer;

  &:hover {
    background-color: lighten($secondBackgroundColor, 5%);
  }
}

.farm-div {
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 2rem;
  color: $maincolor;
  background-color: $mainBackgroundColor;
  height: fit-content;
  line-height: 1.5;

  h3 {
    text-align: center;
    border-bottom: 1px solid $maincolor;
    margin-bottom: 1rem;
  }

  label,
  .farm-para,
  .farm-werte > p {
    font-size: 1.15rem;
  }
}
.flotten-div {
  padding-bottom: 1rem;
}

.farm-form {
  display: grid;
  grid-template-columns: 55% 1fr;
  gap: 0 1rem;
}
.innerFarmForm {
  input {
    width: 55px;
    height: 1.7rem;
    font-weight: bold;
    font-size: 1rem;
  }
}
.farm-werte {
  p {
    margin: 3px 0.75rem 0 0;
  }

  .maxUnitFarm {
    font-size: 1.15rem;
  }
}
.farm-para span:where(:first-child) {
  cursor: pointer;
  color: $secondcolor;
}
.form-group {
  margin: 3px;
}
.form-control {
  padding: 2px;
  float: right;
}
.farm-label {
  float: right;
}
.flotten-footer {
  display: grid;
  grid-template-columns: 55% 1fr;
  gap: 0 1rem;

  .riskInfoText {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.35s linear, opacity 0.35s linear, color 0.35s linear;
  }
}

// Tooltip
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-top: 5rem;

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
.tooltiptext {
  visibility: hidden;
  width: 10rem;
  background-color: $secondBackgroundColor;
  text-align: left;
  border-radius: 30px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 140%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.35s;
}

/* Login */
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #070729d5;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type='text'],
.box input[type='password'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type='text']:focus,
.box input[type='password']:focus {
  width: 280px;
  border-color: #2ecc71;
}
.box input[type='submit'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type='submit']:hover {
  background: #2ecc71;
}
