.div__btn--trade {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btn__trade {
  width: 5rem;
  height: 2.5rem;
  border: 2px solid $maincolor;
  background: hsla(0, 0%, 0%, 0.01);
  color: $maincolor;
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
  outline: none;
  text-align: center;

  &:hover {
    border-color: $secondcolor;
    background-color: hsla(192, 95%, 71%, 0.1);
    color: $secondcolor;
  }

  &:where(:first-child) {
    margin-right: 2rem;
  }
}

.btn__submit {
  width: 8rem;
  height: 3rem;
  border: 3px solid $maincolor;
  background: hsla(0, 0%, 0%, 0.01);
  color: $maincolor;
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
  outline: none;
  text-align: center;

  &:hover {
    border-color: $secondcolor;
    background-color: hsla(192, 95%, 71%, 0.1);
    color: $secondcolor;
  }
}

@mixin btn-upgrade {
  height: 14px;
  width: 14px;
  border: 1px solid $maincolor;
  border-width: 1px 1px 0 0;
}

.btn__upgrade {
  @include btn-upgrade;

  padding: 0;
  transform: rotate(-45deg);
  background: none;
  cursor: pointer;
  text-align: center;

  &:after {
    @include btn-upgrade;

    content: '';
    display: block;
    transform: translate(7px, -8.5px);
  }

  &:hover,
  &:hover::after {
    border: 1px solid $secondcolor;
    border-width: 1px 1px 0 0;
  }
}
