@mixin btn {
  background: hsla(0, 0%, 0%, 0.01);
  color: $maincolor;
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
  outline: none;
  text-align: center;
}

.div__btn--trade {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btn__trade {
  width: 5rem;
  height: 2.5rem;
  border: 2px solid $maincolor;
  @include btn;

  &:hover {
    border-color: $secondcolor;
    background-color: hsla(192, 95%, 71%, 0.1);
    color: $secondcolor;
  }

  &:where(:first-child) {
    margin-right: 2rem;
  }
}

.btn__submit {
  width: 8rem;
  height: 3rem;
  border: 3px solid $maincolor;
  @include btn;

  &:hover {
    border-color: $secondcolor;
    background-color: hsla(192, 95%, 71%, 0.1);
    color: $secondcolor;
  }
}

.td__btn-holder {
  position: relative;
  width: 35px;
  cursor: default;

  .btn__upgrade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
  }
}

.td__btn-holder--active {
  cursor: pointer;

  .btn__upgrade {
    border: 1px solid $secondcolor;
    border-width: 1px 1px 0 0;
    cursor: pointer;

    &:after {
      border: 1px solid $secondcolor;
      border-width: 1px 1px 0 0;
    }
  }
  &:hover {
    .btn__upgrade {
      animation: slide 1.5s linear infinite;
    }
    .btn__upgrade::after {
      animation: slide 1.5s linear infinite;
      animation-delay: 0.35s;
    }
  }
}

@mixin btn-upgrade {
  height: 14px;
  width: 14px;
  border: 1px solid $maincolor;
  border-width: 1px 1px 0 0;
}

.btn__upgrade {
  @include btn-upgrade;

  padding: 0;
  transform: rotate(-45deg);
  background: none;
  cursor: default;

  &:after {
    @include btn-upgrade;

    content: '';
    display: block;
    transform: translate(-7px, 6.5px);
  }
}

@keyframes slide {
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    bottom: 35px;
  }
  60% {
    opacity: 0;
    bottom: 0;
    top: 20px;
  }
  80% {
    opacity: 1;
  }
}
