$maincolor: hsl(0, 0%, 85%);
$maincolorDark: hsl(0, 0%, 60%);
$secondcolor: hsl(192, 95%, 71%);
$farmgrey: hsla(0, 0%, 0%, 0.7);
$mainBackgroundColor: hsla(230, 25%, 5%, 0.2);
$secondBackgroundColor: hsla(230, 25%, 5%, 0.4);
$statsBackgroundColor: hsla(230, 25%, 5%, 0.1);
