/* Station Area */
.div__table {
  margin-bottom: 2rem;
}

.table__structures {
  tr > td {
    min-width: 12ch;
  }

  tr > :where(:nth-child(4)),
  :where(:nth-child(5)) {
    min-width: fit-content !important;
  }
}

.td__btn-holder {
  position: relative;
  width: 20px;

  button {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
