.table__units {
  tr > td {
    min-width: 14ch;
  }

  tr > :where(:nth-child(5)),
  :where(:nth-child(6)) {
    min-width: 10ch !important;
  }

  input {
    width: 55px;
    height: 1.7rem;
    font-weight: bold;
    font-size: 1rem;
  }
  .tfoot__td--total-cost {
    font-size: 1.2rem;

    .span__total-cost {
      font-size: 1.1rem;
    }
  }
  .tfoot__td--btn-submit {
    .btn__submit {
      margin-left: 5rem;
    }
  }
  tfoot > tr > td {
    padding-top: 1rem;
  }
}
