.secion__player-stats {
  background-color: $statsBackgroundColor;
  padding: 0.5rem 0;
  cursor: default;

  ul {
    max-width: 78%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  .reiter {
    padding: 2px 0px 2px 2px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
  }
  .value {
    color: $secondcolor;
    font-weight: 400;
  }
}
